.search-bar-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-family: Arial, sans-serif; /* O la fuente que prefieras */
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden; /* Para que el border-radius aplique a los hijos */
}

.input-group {
  display: flex;
  align-items: center;
}

.dropdown {
  padding: 10px;
  background-color: #f3f2ef;
  cursor: pointer;
}

.dropdown-icon {
  /* Agrega estilos para tu icono de dropdown */
}

.search-input {
  padding: 10px;
  border: none;
  margin: 0;
  height: 40px; /* Asegúrate de que coincida con la altura del botón de búsqueda */
}

.search-button {
  background-color: #0073b1;
  color: white;
  padding: 0 15px;
  border: none;
  cursor: pointer;
}

.search-button .search-icon {
  /* Agrega estilos para tu icono de búsqueda */
}

/* Puedes agregar estilos para los estados hover y focus según sea necesario */

.search-logo {
  background-color: red;
  height: 1px; /* O la altura que prefieras */
  margin-right: 50px; /* O el margen que prefieras */
}
