.search-bar-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.input-group {
  display: flex;
  align-items: center;
}

.dropdown {
  padding: 10px;
  background-color: #f3f2ef;
  cursor: pointer;
}

.search-input {
  padding: 10px;
  border: none;
  margin: 0;
  height: 40px;
}

.search-button {
  background-color: #0073b1;
  color: white;
  padding: 0 15px;
  border: none;
  cursor: pointer;
}

.search-logo {
  background-color: red;
  height: 1px;
  margin-right: 50px;
}
