/* HomePage.css */
.home-container {
  padding: 2rem;
  text-align: center;
}

.home-container h1 {
  margin-bottom: 1rem;
  color: black;
}

.home-container p {
  color: gray;
}

.main-content {
  padding-top: 60px;
}
