/* CSS para el formulario de registro */
.signup-container {
  font-family: Arial, sans-serif;
  width: 100%;
  max-width: 400px; /* Ajusta el ancho según tus necesidades */
  margin: auto;
  padding: 20px;
  text-align: center;
}

.signup-container header {
  margin-bottom: 30px;
}

.signup-container .logo {
  max-width: 100px;
  margin-bottom: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.signup-form .terms {
  font-size: 12px;
  color: #666;
  margin-bottom: 20px;
}

.signup-form button {
  background-color: #89bbf3;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #005f86;
}

.signup-form .alternative {
  margin-top: 20px;
  font-size: 14px;
}

.signup-form .alternative a {
  color: #802d3f;
  text-decoration: none;
}

.signup-form .alternative a:hover {
  text-decoration: underline;
}

footer {
  margin-top: 30px;
  font-size: 12px;
}

footer a {
  color: #0073b1;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/************************ LOG IN ************************/

.login-container {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form h2 {
  color: #000000;
}

.login-form p {
  margin-bottom: 20px;
}

.login-form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.forgot-password {
  display: block;
  margin-bottom: 20px;
  color: #000000;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.signin-button {
  background-color: #0073b1;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.signin-button:hover {
  background-color: #005f86;
}

.signup-link {
  margin-top: 20px;
}

.signup-link a {
  color: #0073b1;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}
